<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Randoku - Random numbers as a service</title>
</head>

<body>
  <header>
    <h1>Randoku</h1>
    <p>hello, this service generates random numbers, so you don't have to.</p>
  </header>

  <main>
    <h3>API</h3>
    <p>This service was made to be queried from command-line tools (note that the <i>/</i> endpoint displays the API
      overview page if the user agent starts with <i>Mozilla/5.0</i>)</p>
    <p>
      <code>/</code> - generate a random number between 0 and 100
      <br />
      <button hx-get="/" hx-target="#try1" hx-headers='{"User-Agent": "demo/1"}'>try</button><span id="try1"></span>
      <br />
      <code>/&lt;<i>to</i>&gt;</code> - generate a random number between 0 and <i>to</i>
      <br />
      <button hx-get="/" hx-target="#try2" hx-params="42">try</button><span id="try2"></span>
      <br />
      <code>/&lt;<i>from</i>&gt;/&lt;<i>to</i>&gt;</code> - generate a random number between <i>from</i> and <i>to</i>
      <br />
      <code>/shuffle/&lt;<i>items</i>&gt;</code> - shuffles <i>items</i> (a comma-separated list)
      <br />
      <small>Numbers passed as parameters need to be between 0 and 18446744073709551615.</small>
    </p>
  </main>

  <footer>
    <p>Source code: <a href="https://github.com/stchris/randoku">github.com/stchris/randoku</a>, author: <a
        href="https://0chris.com/">0chris.com/</a></p>
  </footer>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</body>

</html>