<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Randoku - Random numbers as a service</title>
</head>

<body>
  <header>
    <h1>Randoku</h1>
    {{ name }}
    <p>This service generates random numbers, so you don't have to.</p>
  </header>

  <main>
    <h3>API</h3>
    <p>
    <pre>/ - generate a random number between 0 and 100</pre>
    <pre>/&lt;to&gt; - generate a random number between 0 and "to"</pre>
    <pre>/&lt;from&gt;/&lt;to&gt; - generate a random number between "from" and "to"</pre>
    </p>
  </main>

  <footer>
    <p>Source code: <a href="https://github.com/stchris/randoku">github.com/stchris/randoku</a></p>
  </footer>
</body>

</html>
